PORT=4111

GROQ_API_KEY=your-groq-api-key

TAVILY_API_KEY=your-tavily-api-key

PG_ID=your-pg-id
PG_HOST=your-db-host
PG_PORT=6543
PG_DATABASE=your-db-name
PG_USER=your-db-user
PG_PASSWORD=your-db-password

# pg || libsql
STORAGE_TYPE=libsql
LIBSQL_URL=file:mastra.db